.div-table {
	display: table;
	width: 100%;
}

.div-table .div-thead {
	display: table-header-group;
}

.div-table .div-tbody {
	display: table-row-group;
}

.div-table .div-tr {
	display: table-row;
}

.div-table .div-thead .div-tr .div-td {
	border-bottom: 1px solid #ddd;
}

.div-table .div-td {
	display: table-cell;
	padding: 10px 15px;
}

.div-table .div-thead .div-tr .div-td {
	padding: 0px 15px;
}

.div-table .div-tbody .div-tr:nth-child(even) {
	background: #f5f5f5;
}

.div-table .div-tbody .div-tr .div-td {
	border-bottom: 1px solid #ddd;
}